<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>ToDo List</title>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style/style.css">
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/services/services.js"></script>
    <script type="text/javascript" src="js/controllers/todoctrl.js"></script>
</head>

<body ng-app="todoapp">
    <div class="align-center" ng-controller="todoctrl">
        <h1 ng-show="show.greeting">Welcome to ToDo</h1>
        <input ng-show="show.greeting" type="submit" ng-click="next()" value="Continue!">
        <h2 ng-show="show.login"> {{show.message}}</h2>
        <form ng-show="show.login" class="simple-form">
            Username
            <input type="text" ng-model="user.name" placeholder="Enter Username" /> Password
            <input type="password" ng-model="user.password" placeholder="Enter Password" />
            </br>
            </br>
            <input ng-hide="show.register" type="submit" class="buttons" ng-click="validateUser()" value="Login" />
            <input ng-show="show.register" type="submit" class="buttons" ng-click="register()" value="Register" />
        </form>
        <div ng-show="show.app" class="app col-sm-4">
            <h1> Hello {{user.name}} </h1>
            <form class="col-sm-12">
                <input type="text" ng-model="todo" id="todo" placeholder="Enter ToDo" ng-keypress="enterKey($event)" autofocus>
                <br/>
            </form>
            <input type="submit" ng-click="back()" value="Main Menu" class="buttons">
        </div>
        <ul style="margin-top: 10%">
          <li ng-repeat="todo in todos track by $index">
            {{todo}}
          </li>
        </ul>
        <div ng-show="show.app" class="user-section col-sm-4" ng-repeat="todo in todos track by $index">
            <div ng-hide="$index==0 && user.name != 'admin'" class="app-todos col-sm-12" ng-repeat="item in todo track by $index">
                <p ng-hide="$index == 0">{{item}}</p>
                <h3 clas="text-center user-box" ng-hide="$index!=0">ToDo List of {{item}}</h3>
                <button ng-hide="$index == 0" type="button" class="btn btn-default" ng-click="removeTodo(todo[0], item)">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        </div>
    </div>
</body>

</html>
